ul {
  list-style: none;
}

.FilterTree-container {
  height: 100%;
  width: 300px;
  overflow-y: scroll;
  font-family: 'Courier New', Courier, monospace;
  z-index: 99;
  background-color: white;
  border: 1px solid black;
  border-right: 0;
}

.FilterTree-container_main {
  border: 1px solid black;
  border-top: 0;
  padding: 0 7px 12px 7px !important;
}

.FilterTree-wrapper {
  margin: 8px !important;
}

.list-item:hover {
  background-color: rgba(0, 0, 0, 0.07);
}

.FilterTree-list {
  list-style: none;
  padding: 0;
  padding-left: 7px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  overflow: hidden;
  margin-bottom: 0;
}

.FilterTree-title_categories {
  margin-left: 2px !important;
}

.FilterTree-form_categories .FilterTree-caret {
  margin-right: 0 !important;
}

.FilterTree-list_closed {
  border-bottom: 0 !important;
  padding: 0 7px !important;
  max-height: 0;
}

.FilterTree-subcategory_item {
  padding: 0 0 5px 15px;
  position: relative;
  border-left: 1px solid;
}

.FilterTree-title {
  position: relative;
  margin-left: 28px;
  cursor: pointer;
}

.FilterTree-title {
  font-size: 14px;
  width: 100%;
}

.list-item {
  width: auto;
}

.title-letter {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.FilterTree-form {
  position: relative;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.FilterTree-form_category-title {
  border: 1px solid black !important;
  padding: 8px 0 8px 8px;
  width: 100%;
}

.FilterTree-form:hover {
  border-bottom: 1px dotted black;
}

.FilterTree-subcategories {
  margin-top: 12px;
}

.FilterTree-item_listItem {
  position: relative;
  padding-left: 15px;
  border-left: 1px solid;
}

.FilterTree-item_listItem::before,
.FilterTree-subcategory_item::before {
  content: "";
  width: 16px;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 12px;
  left: 0;
}

.FilterTree-item_listItem:last-child,
.FilterTree-subcategory_item:last-child {
  border-left: 0;
  padding-left: 16px;
}

.FilterTree-item_listItem:last-child::after,
.FilterTree-subcategory_item:last-child::after {
  content: "";
  width: 1px;
  height: 12px;
  background-color: black;
  position: absolute;
  left: 0;
  top: 0;
}

.FilterTree-item_listItem:first-child::after,
.FilterTree-subcategory_item:first-child::after {
  content: "";
  width: 1px;
  height: 18px;
  background-color: black;
  position: absolute;
  left: -1px;
  top: -5px;
}

.styledCheckbox-container {
  display: block;
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  height: 16px;
  width: 16px;
  top: 4px;
}

.styledCheckbox-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  right: 0;
}

.styleCheckbox-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: solid black;
  border-width: 1px;
  background-color: #ffffff;
}

.styledCheckbox-container input:checked ~ .styleCheckbox-checkmark {
  background-color: rgba(0, 0, 0, 0.07) !important;
}

.FilterTree-caret {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  opacity: 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.FilterTree-form:hover .FilterTree-caret {
  opacity: 0.1;
}

.FilterTree-caret:hover {
  opacity: 0.3 !important;
}

.FilterTree-caret_down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.clearAll-container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  border: 1px solid black;
  margin: 8px 8px 0 8px;
  cursor: pointer;
}

.dark-bg {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.white-font {
  color: white;
  font-weight: bold;
  white-space: nowrap;
}

.dark-bg:hover {
  background-color: white;
}

.dark-bg:hover .white-font {
  color: black;
}

.tagsMenu-list {
  padding: 0 0 8px 8px !important;
}

.tags-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid black;
  margin: 8px 8px 0 0;
  padding: 4px;
}

.yearLocation-container {
  border: 1px solid black;
  margin: 12px 0;
}

.yearLocation-list {
  margin: 0;
  padding: 0;
  padding-left: 8px;
  font-size: 12px;
  overflow: hidden;
  border: 1px solid;
  border-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.yearLocation-item:last-child {
  margin-bottom: 8px;
}

.TagsMen-yearLocation-dropdown {
  padding-top: 0;
}

@media only screen and (max-width: 720px) {
  .FilterTree-container {
    position: absolute;
    height: 100%;
    width: calc(100% - 50px);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.2s !important;
    transition: -webkit-transform 0.2s !important;
    transition: transform 0.2s !important;
    transition: transform 0.2s, -webkit-transform 0.2s !important;
    border-right: 1px solid black;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    width: 80%;
  }
  .show-menu {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .FilterTree-caret {
    opacity: 0.5;
  }
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

.mobileBar {
  width: 100%;
  height: 60px;
  border: 2px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px;
}

.mobileBar-top {
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.mobileBar-bottom {
  -ms-grid-row: 3;
      grid-row-start: 3;
}

.mobileBars-navButton_container {
  height: 100%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobileBar-navButton {
  height: 100%;
  border: 0;
  background-color: white;
}

.mobileBar-navButton img {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  white-space: normal;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  padding: 15px 7px;
  margin: 0;
  white-space: nowrap;
}

p {
  margin: 0 !important;
}

.container {
  position: relative;
  max-width: none !important;
  margin: 0 !important;
  padding: 0 !important;
  -ms-grid-columns: 1fr 300px;
      grid-template-columns: 1fr 300px;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  overflow-y: auto;
}

.subtitle {
  font-size: 11px;
  color: #a5a5a5;
  margin: 0;
}

img {
  font-size: 8px;
}

h3 {
  margin-bottom: calc(16px + 0.75vw);
  text-transform: uppercase;
  font-weight: 600 !important;
  font-size: calc(12px + 0.75vw) !important;
}

h5 {
  font-weight: 600 !important;
  font-size: calc(12px + 0.75vw) !important;
  padding-bottom: 5px;
}

label {
  margin: 0;
}

.app-container {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 4px solid white;
}

* {
  color: black;
}

.TagsMenu-container {
  width: 250px;
  background-color: white;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  overflow-y: auto;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  overflow-x: hidden;
}

.TagsMenu-checkbox {
  position: absolute;
  right: -1px;
  top: 6px;
  cursor: pointer;
}

.TagsMenu-checkbox_subcategory {
  position: absolute;
  right: 0;
  top: 6px;
}

.TagsMenu-Card {
  background-color: white !important;
}

.tagsMenu-Button_category {
  padding: 0 !important;
  margin: 0 !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
  color: black !important;
}

.tagsMenu-Button_subcategory {
  padding: 0 !important;
  margin: 0 !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
  border-right: 1px solid;
  border-left: 1px solid;
}

.tagsMenu-Button_subcategory-last {
  padding: 0 !important;
  margin: 0 !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
  border-right: 1px solid;
  border-left: 1px solid;
}

.tagsMenu-list {
  font-family: 'Arial', Helvetica, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tagsMenu-list input {
  margin-left: 8px;
}

.tags-li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  height: auto;
}

.tagsMenu-list-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tagsMenu-listItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  line-height: 12px;
  margin-bottom: 2px;
  position: relative;
  padding: 4px;
  border: 1px solid;
  margin: 4px;
}

.tagsMenu-listItem:hover {
  background-color: #a0a0a0;
}

.TagsMenu-Card-Title:hover {
  background-color: #a0a0a0;
}

.about-container:hover {
  background-color: #a0a0a0;
}

.checkbox-selected {
  background-color: #e3e3e3;
}

.tagsMenu-Button_category * {
  font-size: 26px !important;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
}

.tagsMenu-Button_subcategory .title-letter {
  font-size: 18px;
  font-weight: 600;
  color: #5a5a5a;
}

.tagsMenu-Button_subcategory-last .title-letter {
  font-size: 18px;
  font-weight: 600;
  color: #5a5a5a;
}

.subcategory {
  border-left: 1px solid;
  border-right: 1px solid;
}

.subcategory-last {
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 0 !important;
}

.subcategory-last-collapse {
  border-top: 1px solid;
  border-bottom: 0 !important;
}

.Navbar {
  overflow: hidden;
  background-color: white;
  width: 4vw;
  height: 100%;
  position: relative;
  top: 0;
  right: 0;
  z-index: 2;
  -ms-grid-column: 3;
      grid-column-start: 3;
  min-width: 45px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.move-left {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

.move-right {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

.nav-menuButton {
  background-color: white;
  padding: 10px;
}

.frontEndIndex-container {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr max-content;
      grid-template-columns: -webkit-min-content 1fr -webkit-max-content;
      grid-template-columns: min-content 1fr max-content;
  background-color: white;
  position: relative;
}

.imageSelect-container {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: white;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  border-left: 1px solid black;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.imageSelect-container * {
  -webkit-transition: 0s all !important;
  transition: 0s all !important;
}

.Nav-button {
  width: 4vw;
  height: 45px;
  min-width: 45px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  margin: 0 !important;
}

.text-sideways {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.Nav-infoButton {
  position: absolute;
  top: 16vw;
  left: 0;
  width: 4vw;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Nav-button_next {
  top: 45px;
  left: 0;
}

.Nav-button_prev {
  top: 0;
  left: 0;
}

.images-container {
  position: relative;
  width: 100%;
  height: 100%;
  border-left: none;
  border-right: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.FilePreview--imageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  -webkit-transition: 0 opacity;
  transition: 0 opacity;
  z-index: 2;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-indent: -100%;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 19%;
          flex: 1 1 19%;
  min-width: 59px;
}

.FilePreview--imageContainer__empty {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  -webkit-transition: 0 opacity;
  transition: 0 opacity;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: -9999;
  height: 0;
}

.FilePreview--imageContainer__empty > * {
  -webkit-transform: translateY(200px) !important;
          transform: translateY(200px) !important;
}

.enlargeContainer {
  height: 100% !important;
  width: 1px;
  position: absolute;
  max-width: 100%;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  right: 0;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 1fr 50px;
      grid-template-rows: 1fr 50px;
  border-left: 1px solid black;
}

.enlarge-border {
  position: absolute;
  height: 100vh;
  width: 10px;
  background-color: #bbb;
  left: -10px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  display: none;
}

#foreground {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  opacity: 1;
  max-height: 100%;
}

#background {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  max-height: 100%;
}

.foreground-transition {
  -webkit-transition: height 0.2s, width 0.2s, opacity 0.4s;
  transition: height 0.2s, width 0.2s, opacity 0.4s;
}

.imageSelect-FilePreview {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  cursor: pointer;
  width: 100%;
}

.zero-width {
  height: 0;
}

@-webkit-keyframes modalFade {
  0% {
    opacity: 1;
    z-index: 9999;
    display: -webkit-box;
    display: flex;
  }
  90% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}

@keyframes modalFade {
  0% {
    opacity: 1;
    z-index: 9999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  90% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}

.modalOff {
  -webkit-animation-name: modalFade;
          animation-name: modalFade;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.FamilyNext {
  width: 21px;
  height: 30px;
}

@-webkit-keyframes image-hide {
  0% {
    left: 100%;
  }
  100% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
}

@keyframes image-hide {
  0% {
    left: 100%;
  }
  100% {
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
}

.move-left {
  -webkit-animation-name: move-left;
          animation-name: move-left;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.image-hide {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.low-opacity {
  opacity: 0.2;
}

.FilePreview--imageContainer:hover {
  opacity: 1;
}

.display-no {
  display: none;
}

.tagsMenu-Button {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
  font-weight: 400 !important;
  font-size: 16px !important;
  font-family: 'Times New Roman', Times, serif;
  color: #666666 !important;
}

@-webkit-keyframes move-right {
  0% {
    right: 100%;
  }
  100% {
    right: 0;
  }
}

@keyframes move-right {
  0% {
    right: 100%;
  }
  100% {
    right: 0;
  }
}

.move-right {
  -webkit-animation-name: move-right;
          animation-name: move-right;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.Tags-item_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.Tags-item_container {
  font-family: 'Courier New', Courier, monospace;
  border: 1px solid black;
  padding: 2px 7px 2px 7px;
  margin: 2px 3px;
  cursor: pointer;
}

.Tags-item_container:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.Tags-item_text {
  font-size: 12px;
  font-weight: 600;
  white-space: nowrap;
}

.full-height {
  height: 100% !important;
}

.show-menu-desktop {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  width: 0;
}

.enlarge-preview {
  height: 100%;
  width: 100%;
}

.about-container {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid !important;
  background-color: blue;
  border-top: 1px solid;
  cursor: pointer;
}

.about-image {
  width: 50%;
}

.TagsMenu-close {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

.halfSize {
  max-width: 50%;
  min-width: 45px;
}

.enlarge-info {
  position: absolute;
  height: 50px;
  width: 100%;
  bottom: 0;
  background-color: white;
}

.previewBubble-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 9999;
  border: 1px solid black;
  background-color: white;
  height: 100%;
  width: 100%;
  border-left: 0;
  border-bottom: 0;
}

.previewBubble-wrapper {
  padding: 0 5px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.previewBubble {
  height: 30px;
  width: 30px;
  border-radius: 999px;
  margin: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15px;
          flex: 1 1 15px;
  cursor: pointer;
  min-width: 30px;
  max-width: 30px;
  opacity: 0.8;
  border: 2px solid black;
}

.ArtworkInfo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.2s all !important;
  transition: 0.2s all !important;
  position: absolute;
  border-top: 1px solid black;
  background-color: white;
  width: 100% !important;
  max-height: calc(100vh - 59px);
  overflow-y: auto;
}

.ArtworkInfo-wrapper {
  width: 100%;
  max-width: 600px;
  padding: 10px 0px 20px 20px;
  height: 100%;
}

.info-up {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.ArtworkInfo-preview-container {
  height: 75px;
  z-index: 11;
  cursor: pointer;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ArtworkInfo-preview {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.4;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  opacity: 1;
}

.ArtworkInfo-preview:hover {
  -webkit-transition: none;
  transition: none;
  opacity: 1;
}

.ArtworkInfo-seeAlso-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

.SeeAlso-wrapper {
  max-width: 50%;
}

.SeeAlso-related {
  margin-right: 20px;
}

.ArtworkInfo-container_seealso {
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.SeeAlso-related_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 90px;
  overflow-x: auto;
  overflow-y: hidden;
}

.subtitle_seeAlso {
  margin-bottom: 3px;
  border-bottom: 1px solid;
  opacity: 0.5;
  white-space: nowrap;
}

.ArtworkInfo--descriptions {
  margin: 1vw 2vw;
  font-size: 14px;
}

.ArtworkInfo--descriptions_instance {
  text-indent: 15px;
  margin-top: 10px;
}

.ArtworkInfo_artworkFamily {
  font-size: 12px;
  line-height: 16px;
}

.ArtworkInfo_artworkTitle {
  font-size: 14px;
}

.ArtworkInfo_locationYear {
  font-size: 12px;
}

.clickable {
  cursor: pointer;
}

.noClick {
  border: 0;
  cursor: default;
}

.clear-all {
  height: 50px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subcateogry_empty {
  position: relative;
  text-transform: uppercase;
}

.menu {
  width: 100%;
}

.Nav-button-menu {
  bottom: 0;
  height: initial;
  width: 100%;
}

.images-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content;
      grid-template-columns: 1fr -webkit-max-content;
      grid-template-columns: 1fr max-content;
}

.TagsMenu-checkbox {
  top: initial;
  position: initial;
  margin-left: 5px;
}

.TagsMenu-Accordion-label.category {
  height: 40px;
}

.TagsMenu-Accordion-label.subcategory {
  height: 30px;
}

.TagsMenu-Accordion-label.theme {
  height: 25px;
}

.TagsMenu-category-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 1;
}

.TagsMenu-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.TagsMenu-listitems-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: 1px solid black;
  position: absolute;
}

.title-letter {
  text-transform: uppercase;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
}

.contact-title {
  font-size: 12px;
}

.TagsMenu-subcategory-container {
  width: 100%;
  border-top: 1px solid black;
  position: relative;
}

.TagsMenu-subcategories {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: 0.2s opacity, 0.2s -webkit-transform;
  transition: 0.2s opacity, 0.2s -webkit-transform;
  transition: 0.2s transform, 0.2s opacity;
  transition: 0.2s transform, 0.2s opacity, 0.2s -webkit-transform;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  overflow: visible;
  background-color: white;
  opacity: 0;
}

.TagsMenu-listItems-container {
  width: 100%;
  position: absolute;
  border-bottom: 1px solid black;
  bottom: 0;
}

.TagsMenu-listitem {
  z-index: 7;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  padding: 4px 40px;
  border-bottom: 1px solid;
  opacity: 0;
}

#TagsMenu-listitems-container {
  display: none;
}

.TagsMenu-bottomButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.no-click {
  cursor: default;
}

.TagsMenu-category-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  cursor: pointer;
  width: 100%;
}

.scroll-down-listitem {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 1 !important;
}

.TagsMenu-about-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  position: relative;
  z-index: 999;
}

.TagsMenu-category-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 9;
  background-color: white;
}

.button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
}

.subcategories {
  z-index: 8;
  background-color: white;
  padding: 4px 20px;
}

.aboutbutton {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 100%;
}

.category-title-letter {
  font-size: 18px;
}

.subcategory-title-letter {
  font-size: 14px;
}

.listitem-title-letter {
  font-size: 12px;
}

.shadow {
  -webkit-box-shadow: inset 0px 24px 26px -19px rgba(0, 0, 0, 0.6);
          box-shadow: inset 0px 24px 26px -19px rgba(0, 0, 0, 0.6);
  position: absolute;
  height: 100%;
  widows: 100%;
}

#contact-subcategories {
  border-bottom: 1px solid black;
  padding: 20px 0;
}

#contact-subcategories * {
  width: 100%;
  margin: 20px 0 20px 20px !important;
}

.fade-out {
  -webkit-transition: 0.2s opacity !important;
  transition: 0.2s opacity !important;
  opacity: 0 !important;
  mix-blend-mode: luminosity;
}

.enlarge-scroll-left {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.year-tag {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 1 40% !important;
          flex: 1 1 40% !important;
}

.location-tag {
  font-size: 12px;
}

.nowrap {
  white-space: nowrap;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.TagsMenu-checkbox {
  position: absolute;
  right: 30px;
  overflow: visible;
}

.styledCheckbox-container_large {
  padding-left: 40px;
}

.styledCheckbox-container_small {
  padding-left: 18px;
}

.styledCheckbox-container_large .styleCheckbox-checkmark {
  left: calc(50% - 10px);
  top: calc(50% - 10px);
  height: 20px;
  width: 20px;
}

.styledCheckbox-container_small .styleCheckbox-checkmark {
  left: 2px;
  top: calc(50% - 7px);
  height: 14px;
  width: 14px;
  border: 1px solid;
}

.TagsMenu-category-title:hover .white-font {
  color: red !important;
}

.TagsMenu-category-title:focus .white-font {
  color: red !important;
}

.pinch-to-zoom-container {
  height: 100% !important;
  width: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pinch-to-zoom-area {
  -webkit-transition: height 0.2s !important;
  transition: height 0.2s !important;
  height: 100%;
  max-height: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.initialScale {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.previewBubble-filled {
  background-color: blue !important;
}

.single-container {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (max-width: 720px) {
  .TagsMenu-category-title:hover * {
    color: black;
  }
  .ArtworkInfo-container {
    -webkit-transition: 0.2s all !important;
    transition: 0.2s all !important;
  }
  #foreground {
    mix-blend-mode: unset;
  }
  .TagsMenu-category-title:focus * {
    color: black;
  }
  .checkbox-selected:focus * {
    color: white !important;
  }
  .checkbox-selected:hover * {
    color: white !important;
  }
  .ArtworkInfo-preview-container {
    height: 60px;
  }
  .SeeAlso-related_images {
    max-height: 70px;
  }
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100px;
    background-color: white;
    cursor: pointer;
    border-left: 1px solid black;
  }
  .menu-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 5px;
  }
  .menu-title * {
    color: black !important;
  }
  .controls {
    position: absolute;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  .controls-button {
    height: 100%;
    width: 50px;
    background-color: white;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .controls-exitButton {
    border-left: 1px solid;
  }
  .controls-slideButton {
    border-left: 1px solid;
  }
  .previewBubble-container {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100%;
    border: none;
    max-width: calc(100% - 200px);
  }
  .previewBubble-wrapper {
    position: initial;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 5px 5px 0 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 100%;
  }
  .previewBubble {
    height: 30px;
    width: 30px;
    max-width: 30px;
    min-width: 30px;
  }
  .TagsMenu-hamburger {
    height: 100% !important;
    width: 100px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 !important;
    border-top: 0;
    border-bottom: 0;
    background-color: white !important;
  }
  .TagsMenu-hamburger * {
    padding: 0 !important;
    color: black !important;
  }
  .FamilyList--detail__image {
    width: 100%;
    max-width: 400px;
  }
  body {
    overscroll-behavior: contain;
    overflow: hidden;
    height: 100%;
    position: absolute;
    bottom: 0;
  }
  .enlarge-down {
    -webkit-transform: translateY(0) !important;
            transform: translateY(0) !important;
  }
  #root {
    height: 100%;
  }
  .app-container {
    height: 100%;
  }
  .appContainer {
    height: 100%;
  }
  .frontEndIndex-container {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 60px 1fr 60px;
        grid-template-rows: 60px 1fr 60px;
  }
  .TagsMenu-container {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    position: absolute;
    z-index: 9999;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    border-right: 1px solid;
    max-height: calc(100vh - 144px);
    border-bottom: none;
    overflow-y: scroll;
    overflow: visible;
  }
  .TagsMenu-max {
    max-height: calc(100vh - 143px);
  }
  .TagsMenu-Card-Title {
    height: 37px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .TagsMenu-checkbox_subcategory, .TagsMenu-checkbox {
    top: 17px;
  }
  .tagsMenu-listItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 33px;
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-size: 12px;
  }
  .images-container {
    position: absolute;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: min-content 1fr;
        grid-template-rows: -webkit-min-content 1fr;
        grid-template-rows: min-content 1fr;
    overflow: hidden;
    border: 1px solid;
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
  }
  .imageSelect-container {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    bottom: 0;
    border-right: 1px solid;
    background-color: white;
    z-index: 999;
    width: 100% !important;
    border-right: none;
    border-left: none;
    border-top: none;
    height: 100%;
    z-index: 0;
  }
  .imageSelect-slide {
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
  }
  .side-scroll {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-x: auto;
    border-top: 1px solid;
    height: 90px;
    overflow-y: hidden;
    border-top: 0;
  }
  .enlargeContainer {
    background-color: white !important;
    width: 100% !important;
    height: calc(100% - 90px) !important;
    max-height: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 999;
    border-top: none;
    border-bottom: none;
    z-index: 1;
    border-left: none;
    -webkit-transform: none;
            transform: none;
    overflow: hidden;
    bottom: 100%;
    display: initial;
  }
  .enlargeContainer * {
    -webkit-transition: 0s all !important;
    transition: 0s all !important;
  }
  .enlarge-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    bottom: 0;
  }
  .previewBubble-container, .controls {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  .info-up {
    display: initial;
    border-left: none;
  }
  .enlarge-scroll-down {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    top: 0;
  }
  .scroll-down {
    top: 0;
    opacity: 1 !important;
    border-top: none;
  }
  .Navbar {
    position: relative;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
    width: 100%;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top: none;
    border-left: 1px solid;
  }
  .Nav-button {
    position: absolute;
    height: 100%;
    width: 55px;
    position: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Nav-button_next {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .nav-menuButton {
    padding: 0;
  }
  .text-sideways {
    -webkit-writing-mode: initial;
        -ms-writing-mode: initial;
            writing-mode: initial;
  }
  .menu {
    width: auto;
    height: 100%;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .Nav-infoButton-icon {
    height: 75%;
  }
  .imageSelect-FilePreview {
    -ms-flex-item-align: start;
        align-self: flex-start;
    -o-object-position: bottom left;
       object-position: bottom left;
    width: auto;
    max-width: 100%;
  }
  .side-scroll .imageSelect-FilePreview {
    width: auto !important;
    z-index: 9999;
  }
  .about-container {
    width: 50%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid black;
    background-color: blue;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .about-image {
    width: 150px;
  }
  .image-hide {
    display: none;
  }
  .FilePreview--imageContainer {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
  .FilePreview--imageContainer__empty {
    height: 0 !important;
    width: 0 !important;
    min-height: 0 !important;
  }
  .ArtworkInfo--descriptions {
    font-size: 12px;
  }
  .ArtworkInfo_locationYear {
    font-size: 10px;
  }
  .side-scroll .FilePreview--imageContainer__empty {
    width: 0px !important;
    height: 100% !important;
    min-width: 0 !important;
  }
  .side-scroll img {
    height: 90px;
  }
  .side-scroll .FilePreview--imageContainer {
    width: initial;
    left: initial;
    min-width: initial;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .hide-imageSelect {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  .foreground-transition {
    -webkit-transition: opacity 0.4s, height 0.2s, width 0.2s;
    transition: opacity 0.4s, height 0.2s, width 0.2s;
  }
  #themes-subcategories {
    max-height: 40vh;
    overflow-y: auto;
  }
  .pinch-to-zoom-area {
    height: 100% !important;
  }
  .pinch-to-zoom-container {
    display: inline-block !important;
  }
}
/*# sourceMappingURL=frontEndMain.css.map */