* {
  margin: 0;
  padding: 0;
  white-space: normal;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  padding: 15px 7px;
  margin: 0;
  white-space: nowrap;
}

.container {
  position: relative;
  width: 100vw !important;
  max-width: none !important;
  margin: 0 !important;
  padding: 0 !important;
  -ms-grid-columns: 1fr 300px;
      grid-template-columns: 1fr 300px;
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
}

.data-container {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overflow-yes {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}

h3 {
  margin: 0 !important;
  padding: 15px 0px 10px 50px;
  background-color: #f1f1f1;
}

h5 {
  padding-left: 60px;
}

.container-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  margin-right: 20px;
}

.container-radio > input {
  margin: 0;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subtitle {
  font-size: 11px;
  color: #a5a5a5;
  margin: 0;
}

p {
  margin: 0 !important;
  word-wrap: break-word;
}

img {
  font-size: 8px;
}

.no-padding {
  padding: 0 !important;
  background-color: rgba(0, 0, 0, 0.055);
  margin-bottom: 0 !important;
}

Button {
  margin-top: 3px;
  white-space: nowrap;
}

.dnd-image {
  height: 150px;
  width: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  border: 1px solid black;
  background-color: #ffffff;
  margin: 0 15px;
}

.dnd-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.accordion-main {
  padding: 2px 0 2px 15px;
  font-size: 18px;
}

.accordion-secondary {
  padding: 2px 0 2px 7px;
  font-size: 14px;
}

.card-header {
  margin-bottom: 0 !important;
}

textarea {
  font-size: 13px;
  padding: 15px;
}

.themes-list--selected {
  background-color: #c9eec9 !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.FamilyList--container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid;
  margin: 3px 0;
}

.FamilyList--familyName {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  margin-bottom: 2vw;
}

.FamilyList--familyName__text {
  color: white;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.FamilyList--main {
  border: 5px solid !important;
  padding: 0 !important;
  margin: 0;
  width: auto !important;
}

.FamilyList--detail {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 1px solid;
  margin: 3px 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.FamilyList--detail__info {
  padding: 4px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: 1px solid #afafaf;
}

.FamilyList--detail__image {
  padding: 4px;
  width: 200px;
}

.FamilyList--detail__image__text {
  margin: 4px 2px;
  font-size: 12px;
  border: 1px solid #afafaf;
  padding: 4px;
}

.title {
  font-weight: 600;
}

.FamilyList--submit-delete-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

h3 {
  margin-bottom: calc(16px + 0.75vw);
  text-transform: uppercase;
  font-weight: 600 !important;
  font-size: calc(12px + 0.75vw) !important;
}

h5 {
  font-weight: 600 !important;
  font-size: calc(12px + 0.75vw) !important;
  padding-bottom: 5px;
}

label {
  margin: 0 !important;
}

.ImageInfo--transferState {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  position: relative;
  padding: 5px;
  border: 1px solid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 12px;
  background-color: #f1ffdc;
}

.container-radio {
  font-size: 8px;
  margin: 0 !important;
}

.ImageInfo--transferState__radios {
  margin-top: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.artworkinfo--form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50px;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.FamilyList--detail_update {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  margin: 15px 0 0 0;
  border: 1px solid #afafaf;
}

.TagsMenu-container {
  width: 250px;
  background-color: #ff8dff;
}

.TagsMenu-Card {
  background-color: #ff8dff !important;
}

.tagsMenu-Button_category {
  padding: 0 !important;
  margin: 0 !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
  color: black !important;
}

.tagsMenu-Button_subcategory {
  padding: 0 !important;
  margin: 0 !important;
  text-transform: uppercase !important;
  font-weight: 600 !important;
  color: white !important;
}

.NavBar {
  background-color: #ff8dff;
}

.frontEndIndex-container {
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content minmax(100px, auto) minmax(auto, 5fr) 50px;
      grid-template-columns: -webkit-max-content minmax(100px, auto) minmax(auto, 5fr) 50px;
      grid-template-columns: max-content minmax(100px, auto) minmax(auto, 5fr) 50px;
  border: 8px solid #ff8dff;
  border-left: 0;
  background-color: #4d2a0d;
  position: relative;
}

.imageSelect-container {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #4d2a0d;
}

.enlargeContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: #4d2a0d;
  cursor: pointer;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
}

.ImagesPreview--imageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  -webkit-transition: 0 opacity;
  transition: 0 opacity;
  z-index: 2;
  overflow: hidden;
  max-height: 200px;
  cursor: pointer;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  bottom: 0;
}

.enlarge-container {
  position: absolute;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  z-index: -1;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.enlarge-preview {
  position: absolute;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  z-index: -1;
  -o-object-fit: contain;
     object-fit: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  max-width: 100%;
}

.imageSelect-FilePreview {
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.zero-width {
  height: 0;
}

.TagsMenu-Accordion-label {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

@-webkit-keyframes modalFade {
  0% {
    opacity: 1;
    z-index: 9999;
    display: -webkit-box;
    display: flex;
  }
  90% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}

@keyframes modalFade {
  0% {
    opacity: 1;
    z-index: 9999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  90% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}

.modalOff {
  -webkit-animation-name: modalFade;
          animation-name: modalFade;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.FamilyNext {
  width: 21px;
  height: 30px;
}

.image-hide {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.low-opacity {
  opacity: 0.2;
}

.ImagesPreview--imageContainer:hover {
  opacity: 1;
}

.display-no {
  display: none;
}

.tagsMenu-Button {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  font-weight: 400 !important;
  font-size: 24px !important;
  font-family: 'Courier', Courier, monospace;
  -webkit-transform: scale(0.8, 0.7);
          transform: scale(0.8, 0.7);
}

.title-letter {
  -webkit-transform: scale(1.65, 2.5);
          transform: scale(1.65, 2.5);
}

#foreground {
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

#background {
  z-index: 1;
}

@-webkit-keyframes move-right {
  0% {
    right: 100%;
  }
  100% {
    right: 0;
  }
}

@keyframes move-right {
  0% {
    right: 100%;
  }
  100% {
    right: 0;
  }
}

.move-right {
  -webkit-animation-name: move-right;
          animation-name: move-right;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@-webkit-keyframes move-left {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

@keyframes move-left {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

.move-left {
  -webkit-animation-name: move-left;
          animation-name: move-left;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@-webkit-keyframes foreground-shrink {
  0% {
    height: 100%;
    width: 100%;
  }
  100% {
    height: 0;
    width: 100%;
  }
}

@keyframes foreground-shrink {
  0% {
    height: 100%;
    width: 100%;
  }
  100% {
    height: 0;
    width: 100%;
  }
}

.foreground-shrink {
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.ArtworkInfo-container {
  position: absolute;
  left: 0;
  background-color: white;
  bottom: -100%;
  height: 80%;
  width: 100%;
  z-index: 2;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
  opacity: 0;
}

.ArtworkInfo-preview-container {
  max-height: 100%;
  border: 1px solid;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.ArtworkInfo-preview {
  border: 1px solid;
  height: 100%;
}

.ArtworkInfo-seeAlso-container {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.info-up {
  opacity: 1;
  bottom: 0;
}

.info-down {
  bottom: -100%;
}
/*# sourceMappingURL=main.css.map */