.filesList{
    display:flex;
}
.fileContainer{
    height: 150px;
    width: 150px;
    position: relative;
}
.file{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border: 1px solid black;
    background-color: white;
}
.file-index{
    position: absolute;
    top: 6px;
    right: 6px;
    height: 30px;
    width: 30px;
    border-radius: 999px;
    background-color: yellow;
    text-align: center;
    padding-top: 4px;
}