$filtersWidth_desktop: 220px;
.legacyStyle-List{
    max-width: 100%;
    margin: 0;
    margin: 5px;
    padding: 0;
    border-bottom: 1px dotted black;
}
.FilterTree-container{
    grid-column-start: 1;
    grid-column-end: 2;
    overflow-y: scroll;
    height: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    background-color: white;
    border-right: 1px solid black;
    width: 0;
}
.FilterTree-wrapper{
    width: $filtersWidth_desktop;
    max-height: 100%;
    padding-bottom: 50px;
    padding-right: 20px;
}

.show-menu{
    border-right: 1px solid black;
    width: $filtersWidth_desktop;
}

.legacyStyle-List-listItem{
    user-select: none;
    display: flex;
    align-items: center;
    padding: 0 3px;
    label{
        cursor: pointer;
    }
    input{
        cursor: pointer;
        margin: 0 4px;
    }
}


.MobileNav-container{
    z-index: 1;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.MobileNav-wrapper{
    width: 360px;
    display: flex;
    justify-content: space-between;
}
.Mobilenav-button{
    overflow: hidden;
    flex: 1;
    border-right:1px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Mobilenav-button-close{
    position: absolute;
    top: 30px;
    height: 100%;
    width: 100%;
    border: none;
    justify-content: start;
    img{
        margin: 0 40px;
        height: 20px;
        width: 20px;
    }
}
.Mobilenav-button-close_enabled{
    top: 0;
}
.List-closeButton{
    height: 30px;
    width: 100%;
    border-top: 1px solid black;
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.List-closeButton_img{
    height: 20px;
    width: 20px;
}

@media only screen and (max-width: 720px) {
    $filtersWidth_mobile: 220px;
    .FilterTree-container{
        font-size: 16px;
        border-right: 1px solid black;
    }
    .FilterTree-wrapper{
        padding: 6px;
        width: $filtersWidth_mobile;
    }
    .show-menu{
        width:$filtersWidth_mobile;
    }
}
@media only screen and (max-width: 360px) {
    .Mobilenav-button:last-of-type{
        border-right: none;
    }
}
