.ImagesPreview--cotnainer_main{
    display: flex;
    flex-direction: column;
}
.ImagesPreview--container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid;
    padding: 5px;
    margin-bottom: 15px;
    background-color: rgb(236, 236, 236);
}
.ImagesPreview--imageContainer{
    display: flex;
    flex-direction: column;
}
.ImagesPreview--fileName{
    width: 150px;
}
.ImagesPreview--button{
    height: 30px !important;
}

.ImagesPreview--image{
    height: 150px;
    width: 150px;
    object-fit: contain;
    border: 1px solid;
    border-bottom: none;
    background-color: rgb(252, 252, 252);
}
.ImagesPreview--index{
    height: 36px;
    width: 36px;
    border-radius: 999px;
    background-color: rgb(255, 255, 142);
}

.ImagesPreview--indexContainer{
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    align-items: center;
}