.ImagesPreview--cotnainer_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ImagesPreview--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border: 1px solid;
  padding: 5px;
  margin-bottom: 15px;
  background-color: #ececec;
  position: relative;
}

.ImagesPreview--imageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 200px;
  height: 140px;
}

.ImagesPreview--fileName {
  width: 100%;
  font-size: 12px;
}

.ImagesPreview--button {
  height: 30px !important;
}

.ImagesPreview--image {
  width: calc(100% - 2px);
  max-height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
  border-bottom: none;
  background-color: #fcfcfc;
}

.ImagesPreview--index {
  height: 26px;
  width: 26px;
  border-radius: 999px;
  text-align: center;
  padding-top: 2px;
  background-color: #ffff8e;
}

.ImagesPreview--indexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-button {
  height: 30px;
  width: 180px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding-top: 4px;
  border-radius: 5px;
  border: 2px solid #9e9e9e;
  text-transform: uppercase;
  background-color: #d1d1d1;
  margin: 4px 0;
}

.ImagesPreview--dragHandle {
  background-color: yellow;
  border: 1px solid black;
  width: 50px;
}

.mouseDown {
  background-color: lime;
}

.accordion {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}

.card-body {
  padding: 10px;
  background-color: #f1f1f1;
}

.image-index-box {
  padding: 0 10px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.accordion-container {
  width: 100%;
}

.card-header {
  padding: 0;
}

.button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 15px;
  background-color: #d6d6d6;
  border-radius: 5px;
}

.submit-delete-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
/*# sourceMappingURL=ImagesPreview.css.map */